
.commonList {
    box-sizing: border-box;
    padding-left:15px;

    li {
        box-sizing: border-box;
        border-bottom: 1px solid #D9D9D9;
        padding: 10px 0;
        font-size: 14px;
        width: 100%;
        .common-header{
            padding-bottom:11px;
            line-height:18px;
            img{
                width:18px;
                height:18px;
                border-radius: 18px;
            }
            span{
                padding-left: 10px;
                font-size:12px;
                font-family:PingFangTC-Regular;
                font-weight:400;
                color:rgba(102,102,102,1);
                line-height:17px;
            }
        }
        p{
            color:#333;
            line-height: 20px;
            font-weight: 500px;
            padding-bottom:5px;
        }
        .listClear{
            font-size: 12px;
            float: right;
            padding-right: 20px;
        }
        .imgGroup{
            overflow: auto;
            padding: 5px 0;
            white-space:nowrap;
          .imgBox{
            width:60px;
            height:60px;
            border-radius:3px;
            margin-right:5px;
            display:inline-block;
            background: no-repeat center center;
            background-size:cover;
          }
        }
        .list-content{
            font-size: 12px;
            line-height: 17px;
            color: #FE8636;
            font-weight: 400;
        }
        .listFooter{
            position: relative;
            padding: 5px 0;
            span{
                font-size:12px;
                color:#999999;
            }
            .center{
                line-height: 17px;
                color: #FE8636;
                padding-right: 11px;
            }
            .left{
                height: 22px;
                line-height: 22px;
                position: absolute;
                top: 5px;
                right: 78px;
                color: #666;

            }
            .right{
                width:56px;
                height:22px;
                background:rgba(242,242,242,1);
                border-radius:11px;
                display: inline-block;
                position: absolute;
                right: 15px;
              top: 50%;
              transform: translateY(-50%);
                text-align: center;
                line-height: 22px;
                color: #FF6D0E;
            }
        }
    }
}
.add-button{
  width:48px;
  height:48px;
  background: #FF6D0E;
  position: fixed;
  bottom:69px;
  right: 10px;
  border-radius: 48px;
  &:before{
    content: '';
    display: block;
    width: 24px;
    border: 1px #fff solid;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:after{
    content: '';
    display: block;
    height: 24px;
    border: 1px #fff solid;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.forum-comments{
  li{
    padding-top: 10px;
    padding-left: 45px;
    position: relative;
    border-bottom: 1px solid #D9D9D9;
    &:last-child{
      border-bottom: 0;
    }
    .head{
      width: 34px;
      height: 34px;
      position: absolute;
      top: 10px;
      left: 0;
      border-radius: 100%;
      object-fit: cover;
    }
    .body{
      padding: 0;
      .name{
        font-size: 16px;
        font-weight: 500;
      }
      .content{
        font-size: 14px;
        color: #333333;
        line-height: 24px;
        word-break: break-all;
      }
      .info{
        color: #999999;
        font-size: 13px;
        line-height: 30px;
        &>*{
          margin-right: 3px;
          i{
            font-size: 14px;
            margin-right: 2px;
          }
        }
      }
    }
  }
}
