
.commonList {
    box-sizing: border-box;
    padding-left:15px;
    li {
        box-sizing: border-box;
        border-bottom: 1px solid #D9D9D9;
        padding: 10px 0;
        font-size: 14px;
        width: 100%;
        p{
            color:#333;
            line-height: 20px;
            font-weight: 500px;
            padding-bottom:5px;
        }
        .listClear{
            font-size: 12px;
            float: right;
            padding-right: 20px;
        }
        .imgGroup{
            overflow: auto;
            padding: 5px 0;
            white-space:nowrap;
            li{
                width:60px;
                height:60px;
                border-radius:3px;
                border-bottom: none;
                padding:0;
                margin-right:5px;
                
                
                overflow:hidden;
                display:inline-block;
                img{
                    opacity: 0;
                }
            }
        }
    .list-content{
    font-size: 12px;
    line-height: 17px;
    color: #FE8636;
    font-weight: 400;
    }
        .listFooter{
            position: relative;
            padding: 5px 0;
            span{
                font-size:12px;
                color:#999999;
            }
            .left{
                height: 22px;
                line-height: 22px;
                position: absolute;
                top: 5px;
                right: 85px;
                color: #666;
                
            }
            .right{
                width:56px;
                height:22px;
                background:rgba(242,242,242,1);
                border-radius:11px;
                display: inline-block;
                position: absolute;
                right: 15px;
                top: 5px;
                text-align: center;
                line-height: 22px;
                color: #FF6D0E;
            }
        }
    }
}

